<ul class="list-group">
  <li [class]="getAllCategoryClass()" (click)="setCurrentCategoryNull()" routerLink="/products">Tüm Ürünler</li>
  <li
    (click)="setCurrentCategory(category)"
    routerLink="/products/category/{{category.categoryId}}"
    *ngFor="let category of categories"
    [class]="getCurrentCategoryClass(category)"
    aria-current="true"
  >
    {{ category.categoryName }}
  </li>
</ul>

<h5 *ngIf="!currentCategory">Tüm ürünler listelendi.</h5>
<h5 id="message" *ngIf="currentCategory">{{ currentCategory.categoryName }} kategorili ürünler listelendi.</h5>
