span{
    text-transform: uppercase;
}
#endis{
    margin:5px;
    border: grey 1px solid;
    border-radius: 15px;
}
#button{
    margin-left:20px;
    justify-content: center;
}
.col{
    padding-top: 6px;

}
#endis{
    padding-top: 5px;
    padding-bottom: 5px;
}

